/***************************
 * Partie globale
 ***************************/
body {
  background-color: #20122c;
  color: white;
}
a img {
  border:none;
  outline:none;
}
a:visited, a {
  color: rgb(248, 236, 202);
}

a:hover, a:active {
  color:rgb(73, 13, 73);
  background-color: orange;
}

/***************************
 * Partie HEADER
 ***************************/
#fixed-header {
  background-color: #293831;
}

header {
  text-align: center;
  border-style: none;
 
}

header img {
  max-height: 75px;
  width: auto;
  display: block;
  border-style: none;
  margin: 10px auto;
}

#maintitle{
  position: absolute;
  top:40%;
  left:55%;
  width:35%;
  font-family: 'Courgette', cursive;
  border:4px solid white;
  border-radius: 10px;
  padding:3%;
}
/***************************
 * Partie NAVIGATION BAR
 ***************************/
ul.nav-bar {
  background-color:rgba(119, 100, 129, 0.867);
  margin-left:auto;
  margin-right: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  font-family: 'Comfortaa', cursive;
}

li.nav-item {
  float: left;
  border: none;
  border-style: none;
}
li.nav-item a, .prev-next-item {
  display: block;
  text-align: center;
  font-size-adjust: initial;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  border:none;
  outline:none;
}
li.nav-item a.active {
  color: black;
  background-color: orange;
}
li.nav-item a:hover, .prev-item:hover, .next-item:hover {
  color: black;
  background-color: orange;
}
#nav-item-last-child {
  float: right;
  margin: 0px 0px -2px 0px;
}
#nav-item-site {
  background-color: gold;
  color: black;
  margin: 0px 0px -2px 0px;
}

/***************************
 * Partie PAGE ACCUEIL
 ***************************/
div.flip {

  display: inline-block;
  width: 31.66%;
  /* padding: 1%; */
  margin:1% 0.5%;
}
div.summary {
  /* display: inline-block; */
  /* height: 100px; */
  /* width: 28% !important; */
  /* padding: 1%; */
  /* margin:1% 0.5%; */
  background-color: rgba(119, 100, 129, 0.867);
  text-align: center;
  border-radius: 10px;
  vertical-align: middle;
}

div.front * {
 vertical-align: middle;
}

div.back{
  background-color:  rgb(248, 236, 202);
  padding:5%;
  color:rgb(85, 7, 85);
  font-size: 12pt;
}


/***************************
 * Partie LISTE DES PROJETS
 ***************************/
.framework-summary {
  clear: both;
  display: block;
}

.project-list {
  margin: 10px;
  position: relative;
  display: inline-block;
}
.project-list * {
  width: 200px;
  max-width: 200px;
  height: 250px;
  max-height: 250px;
}
.project-list-image {
  display: block;
}
.project-list-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  display:flex;
}
.project-list-overlay-back {
  position: absolute;
  background-color: black;
  opacity: 0.8;
}

.project-list:hover .project-list-overlay {
  opacity: 1;
}

.project-list-desc {
  position: absolute;
  z-index: 2;
}
.project-list-desc * {
  clear: both;
  color: white;
  display: flex;
  height: auto;
  margin: 0;
  padding-top: 20px;
  padding-left: 15px;
}

/***************************
 * Partie PROJET
 ***************************/
#project-image {
  float: left;
  margin:0 20px 10px 0 ;
}
div.project-inline * {
  display: inline-block; 
  color: white;
}

div.project-inline-label {
  /* text-decoration: underline; */
  color: rgb(144, 102, 211);
}
div.project-inline > .project-inline-label {
  /* text-decoration: underline; */
  color:  rgb(144, 102, 211);
}

#projet-desc h1{
  color:orange;

}
/***************************
 * Partie PROJET NAVIGATION
 ***************************/
#prev-next-bar {
  background-color: rgb(57, 4, 70);
  margin-left:auto;
  margin-right: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.prev-next-item:hover {
  /* background-color:  */
}
.prev-item {
  float: left;
}
.prev-item-disable {
  float: left;
  background-color: grey;
}
.next-item {
  float: right;
}
.next-item-disable {
  float: right;
  background-color: grey;
}
.proj-item-inline {
  display: inline-block;
  text-align: center;
}

.framework-summary h4{
  color:#293831;
}
/***************************
 * Partie EDUCATION
 ***************************/
 /* #accordion .ui-state-default{
   background-color: violet !important;
 } */
 #accordion div{
   background-color: rgb(231, 221, 230);
   /* height: auto !important; */
   border:1px solid red;
 }
 #accordion .ui-state-active{
  background-color: rgb(103, 27, 126) !important;
}

#accordion .ui-state-default{
  background-color: rgb(187, 163, 197);
}
/***************************
 * Partie FOOTER
 ***************************/
#copyright {
  clear: both;
  text-align: center;
}

/***************************
 * Partie FORMULAIRE
 ***************************/
 input, textarea, select {
  color:blue;
  width: 60%;
  border-radius: 5px;
}

.form-group * {
    vertical-align: middle;
}

div.form-group label {
  width: 10%;
}

#background1 img {
  width: 98%;
  height:auto;
}
